beautifulsoup4
boto3
chromadb
easyocr
fastapi
GitPython
groq
langgraph
PyMuPDF
pydantic-settings
python-dotenv
python-multipart
requests
scikit-learn
sentence-transformers
spacy
SQLAlchemy
transformers
uvicorn[standard]
youtube-transcript-api
